*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sence{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    background: #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}
.block{
    width: 29px;
    height: 29px;
    margin-top: 1px;
    margin-left: 1px;
    background: #ffffff;
    float: left;
}
.snake{
    background: #00cee8;
}
.snakehead{
    background: #ff759c;
}
.food{
    background: #ff0000;
}