*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
}
main{
    display: flex;
}
.left{
    max-width: 180px;
    min-width: 180px;
    height: 100%;
    padding: 30px 10px;
    background: #444444;
    overflow-y: scroll;    
}
.left>ul{
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
}
.left>ul:after{
    content: '工具栏';
    position: absolute;
    left: 10px;
    top: -16px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}
.left>ul>li{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.left>ul>li[active=true]{
    border: 1px solid #ffff00;
}
.left>ul>li>input{
    display: block;
    width: 40px;
    height:40px;
    border: none;
    outline: none;
    margin: 4px;
}
.left>ul>.fg{
    width: 80%;
    height: 1px;
    background: #FFFFFF;
    margin: 15px 0;
}
#save>a,#new>a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.right{
    background: lightgreen;
    flex-grow: 1;
}
.right>.bottom{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
}
canvas{
    display: block;
}
.iconfont{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #d4d4d4;
    font-size: 20px;
}
.opacity{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.eraserme{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.cutme{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px dotted #8b8b8b;
    display: none;
}
